{% extends 'base.html' %}
{% block title %}Vocabool{% endblock %}

{% block javascript %}

    <!-- Handlebars templates -->
    {% load jstemplate %}
    {% handlebarsjs 'tpl-vocabulary' %}
    {% handlebarsjs 'tpl-term' %}
    {% handlebarsjs 'tpl-termcontrols' %}
    {% handlebarsjs 'tpl-addvocabulary' %}
    {% handlebarsjs 'tpl-paginationlinks' %}
    {% handlebarsjs 'tpl-heading' %}
    {% handlebarsjs 'tpl-partial-selectlanguage' %}


    {% load compressed %}
    {% compressed_js 'app' %}

 {% endblock %}
