<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vocabool</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        {% load staticfiles %}
        {% load compress %}

        {% compress css %}
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'client/css/flags.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'client/css/main.css' %}">
        {% endcompress %}

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        {% include 'client/navbar.html' %}


        <!-- Main Backbone view -->
        <div id="view"></div>


        <!-- Handlebars templates -->
        {% load jstemplate %}
        {% handlebarsjs 'tpl-vocabulary' %}
        {% handlebarsjs 'tpl-term' %}
        {% handlebarsjs 'tpl-login' %}


        {% compress js %}
        <!-- JS Dependencies -->
        <script src="{% static 'underscore/underscore.js' %}"></script>
        <script src="{% static 'jquery/jquery.js' %}"></script>
        <script src="{% static 'handlebars/handlebars.js' %}"></script>
        <script src="{% static 'backbone/backbone.js' %}"></script>
        <script src="{% static 'backbone.dualStorage/backbone.dualStorage.js' %}"></script>
        <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'spinjs/spin.js' %}"></script>
        <script src="{% static 'spinjs/jquery.spin.js' %}"></script>

        <!-- Application -->
        <script src="{% static 'client/js/models.js' %}"></script>
        <script src="{% static 'client/js/collections.js' %}"></script>
        <script src="{% static 'client/js/views.js' %}"></script>
        <script src="{% static 'client/js/router.js' %}"></script>
        <script src="{% static 'client/js/helpers.js' %}"></script>
        <script src="{% static 'client/js/main.js' %}"></script>
        {% endcompress %}

    </body>
</html>
