body {
    background: #fefefe;
}

.term ul {
    list-style-type: none;
}

.container {
    padding: 0 15px;
}

select {
    display: block;
}

/*.row {
    margin-left: 0;
    margin-right: 0;
}
*/
