body {
    background: #fefefe;
}

.term ul {
    list-style-type: none;
}

.container {
    padding: 0 15px;
}

.well .form-control {
    margin-bottom: 10px;
}

.inline-group {
    display: inline-block;
    margin: 3px 0;
}

.info {
    color: #999;
    vertical-align: middle;
}
